<div class="container-fluid z-index-2">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 col-md-4 offset-md-4 login-container">
      <form action="/create-account" method="POST">
      <div class="form-group">
          <label for="username" class="username-label">Username</label>          
          <input name='username' id="username" type="text" class="validate">
        </div> 
        <div class="form-group">
            <label for="email" class="email-label">Email</label>            
            <input name='email' type='email' id="email"  class="validate">
          </div>
          <div class="form-group">
                <label for="password" class="password-label">Password</label>           
              <input name='password' id="password" type="password" class="validate">
            </div>
            <br>
          <input value='Sign Up' class="btn-large btn-signup tomato" type="submit">
      </form>
      <div class="col-sm-10 offset-sm-1 col-md-12 login ">
              <p class="blue-grey-text text-lighten-5">By clicking Sign up or Continue with, I agree to Acronaut's <a class="teal-text text-lighten-2" href="#ToS-Modal">Terms of Service</a> and <a class="teal-text text-lighten-2" href="#Privacy-Modal">Privacy Policy</a></p>
            </div>
          </div>
    </div>
  </div>
</div>
<!-- Terms of Service Modal -->
  <div id="ToS-Modal" class="modal">
    <div class="modal-content">
      <h4>Terms of Service</h4>
      <p>Need an lawyer here</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close btn-flat">Agree</a>
    </div>
  </div>
  <!-- Privacy Policy Modal -->
  <div id="Privacy-Modal" class="modal">
    <div class="modal-content">
      <h4>Privacy Policy</h4>
      <p>Need an lawyer here</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close btn-flat">Agree</a>
    </div>
  </div>

<div class="stars"></div>
<div class="twinkling"></div>

