<div class="container z-index-2 center-align">
    <h1 class="blue-grey-text text-lighten-5">Acronauts</h1>
    <div class="row">
      <div class="col s10 offset-s1 m8 offset-m2">
        <div class="container login-container">
          <div class="row">
            <div class="col s12 login">
              <a class="btn-large btn-signup tomato"><i class="medium material-icons left">email</i>Sign up with Email</a>
            </div>
            <div class="col s12 login divided-or">
              <div class="valign-wrapper">
                <div class="divider"></div>
                <p class="blue-grey-text text-lighten-5 or">or</p>
                <div class="divider"></div>
              </div>
            </div>
            <div class="col s12 login">
              <a class="btn-large btn-signup facebook-blue"><i class="medium left fa fa-facebook" aria-hidden="true"></i>Continue with Facebook</a>
            </div>
            <div class="col s12 login divided-or">
              <div class="valign-wrapper">
                <div class="divider"></div>
                <p class="blue-grey-text text-lighten-5 or">or</p>
                <div class="divider"></div>
              </div>
            </div>
            <form action="/create-account" method="POST"><div class="input-field col s12 login">
                <input name='username' id="username" type="text" class="validate">
                <label for="username">Username</label>
              </div> 
              <div class="input-field col s12 login">
                <input name='email' id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>              
              <div class="input-field password-field col s12 login">
                <input name='password' id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
              <div class="col s12 login">
                <input value='Sign up' class="btn-large btn-signup tomato" type="submit">
              </div>
            </form>
            <div class="col s10 offset-s1 m12 login ">
              <p class="blue-grey-text text-lighten-5">By clicking Sign up or Continue with, I agree to Acronaut's <a class="teal-text text-lighten-2" href="#ToS-Modal">Terms of Service</a> and <a class="teal-text text-lighten-2" href="#Privacy-Modal">Privacy Policy</a></p>
            </div>
          </div>
          <div class="login-footer left-align">
            <div class="row">
              <div class="col s12 login">
                <div class="divider"></div>
              </div>
              <div class="col s8">
                <p class="blue-grey-text text-lighten-5">Already have an account?</p>
              </div>
              <div class="col s4">
                <a class="btn-large left-align">Log in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Terms of Service Modal -->
  <div id="ToS-Modal" class="modal">
    <div class="modal-content">
      <h4>Terms of Service</h4>
      <p>Need an lawyer here</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close btn-flat">Agree</a>
    </div>
  </div>
  <!-- Privacy Policy Modal -->
  <div id="Privacy-Modal" class="modal">
    <div class="modal-content">
      <h4>Privacy Policy</h4>
      <p>Need an lawyer here</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close btn-flat">Agree</a>
    </div>
  </div>
  <!-- Twinkling star background -->
  <div class="stars"></div>
  <div class="twinkling"></div>