body {
  color: whitesmoke;
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.login {
  display: block;
  margin: .5rem;
}

.login-container {
  /*border: 1px solid whitesmoke;
  border-radius: 1rem;*/
  padding: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.btn-large {
  text-transform: none;
}

.btn-signup {
  /*width: 23rem;*/
  width: 100%;
}

.login-footer {
  margin-top: 1rem;
  font-size: 1.7rem;
}

.login-footer .btn-large {
  line-height: 2.5rem;
  border: 2px solid tomato;
  background-color: whitesmoke;
  color: tomato;
  height: 3rem;
  font-size: 1.25rem;
}

.login-footer .divider {
  margin-bottom: 1.5rem;
}

.divider {
  margin-bottom: .5rem;
  color: smokewhite !important;
}

.tomato {
  background-color: tomato !important;
}

.facebook-blue {
  background-color: #3b5998 !important;
}

.modal {
  color: black;
}

.modal .btn-flat {
  color: black;
}

.divided-or .divider {
  width: 45%;
  margin-bottom: 0rem;
}

.divided-or .divider,
.divided-or p {
  display: inline-block;
}

.divided-or .or {
  width: 10%;
}

#password {
  margin-bottom: 0;
}

h1 {
  color: white;
}

.main-game {
  /*border-style: dashed;
    border-width: 2px;
    border-color: green;*/
}

.game-component, .player-info {
  /*border-style: dashed;
    border-width: 2px;
    border-color: blueviolet;*/
}

.player-info {
    background-color: rgba(125, 119, 119, .3);
}

.game-letters {
  color: red;
  font-size: 7rem;
}

.avatar {
  max-height: 40px;
  max-width: 100%;
}

.player-name {
  color: rgb(75.7%, 49.9%, 2.6%);
  font-weight: bold;
  font-size: 1.25rem;
}

.time-left{
  color:rgb(100%, 76.9%, 0%);
  font-size: 3rem;
}

.points-text {
  color: rgb(100%, 0%, 0%);
}