@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

@font-face {
    font-family: PressStart;
    src: url('../fonts/PressStart.ttf');
}

@font-face {
    font-family: PressStart;
    src: url('../fonts/01-PressStart.regular.ttf');
}

@font-face {
  font-family: PressStart;
  src: url('../fonts/PressStart2P.ttf')
}

body {
  color: whitesmoke;
  background-color: black;
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.login {
  display: block;
  margin: .5rem;
}

.login-container {
  /*border: 1px solid whitesmoke;
  border-radius: 1rem;*/
  padding: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.btn-large {
  text-transform: none;
}

.btn-signup {
  /*width: 23rem;*/
  width: 100%;
}

.login-footer {
  margin-top: 1rem;
  font-size: 1.7rem;
}

.login-footer .btn-large {
  line-height: 2.5rem;
  border: 2px solid tomato;
  background-color: whitesmoke;
  color: tomato;
  height: 3rem;
  font-size: 1.25rem;
}

.login-footer .divider {
  margin-bottom: 1.5rem;
}

.divider {
  margin-bottom: .5rem;
  color: smokewhite !important;
}

.tomato {
  background-color: tomato !important;
}

.facebook-blue {
  background-color: #3b5998 !important;
}

.modal {
  color: black;
}

.modal .btn-flat {
  color: black;
}

.divided-or .divider {
  width: 45%;
  margin-bottom: 0rem;
}

.divided-or .divider,
.divided-or p {
  display: inline-block;
}

.divided-or .or {
  width: 10%;
}

#password {
  margin-bottom: 0;
}

h1 {
  color: white;
}

.main-game {
  /*border-style: dashed;
    border-width: 2px;
    border-color: green;*/
}

.game-component, .player-info {
  /*border-style: dashed;
    border-width: 2px;
    border-color: blueviolet;*/
}

.player-info {
  font-family: PressStart;   
    background-color: rgba(125, 119, 119, .3);
    margin-bottom: 1%
}

.game-letters {
  position: relative;
  top: -30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 7rem;
  text-shadow: -3px 4px 1px red;

}

.avatar {
  max-height: 40px;
  max-width: 100%;
}

.avatar-results {
  height: 100%;
}

.player-name {
  color: rgb(75.7%, 49.9%, 2.6%);
  font-weight: bold;
  font-size: 1.25rem;
}

.player-points {
    font-family: PressStart;

}

.time-left{
  font-family: PressStart;  
  color:rgb(100%, 76.9%, 0%);
  font-size: 2rem;
}

.points-text {
  position: relative;
  left: -18px;
  top: 3px;
  font-family: PressStart;
  color: rgb(100%, 0%, 0%);
  font-size: .8rem;
}

.vote-for-text {
  font-family: PressStart;

}
.vote-answer {
  font-size: 1.5rem;
  margin-bottom: 3%;
}

.vote-answer:active, .vote-answer:hover, .vote-answer:focus {
  background-color: green;
}

.results-answer {
  font-size: 2rem;
}
.results-all {
  margin: 1%;
  background-color: rgba(125, 119, 119, .3);
    
}

.waiting-stage {
  color: red;
  font-size: 500%;
  padding-top: 10%;
}

.navbar-brand {
  font-family: 'Bungee Shade', cursive;
  font-size: 1.8rem;
  margin-left: 2%;
}

.navbar {
  background-color: rgba(41,43,44,10) !important;
}

.p-make, .p-invalid, .p-success, .p-submitted {
  font-family: PressStart;  
  font-size: 1rem;
  padding-top: 2%;
  margin-bottom: 5%;
}

.p-make {
  color: yellow;
}

.p-invalid {
  color: rgb(80%, 10%, 0%)
}

.p-success {
  color: greenyellow;
}

.p-submitted {
  color: pink;
}

.game-rule {
  font-family: PressStart;
}

.rules-header {
  font-family: PressStart;
  margin-bottom: 5%;  
}

button {
    font-family: PressStart;
    font-size: 50%;
}

@media only screen and (min-width: 0px) {
.game-letters {
  position: relative;
  top: -30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 2.25rem;
  text-shadow: -2px 3px 1px red;
}
.avatar {
  max-height: 40px;
  max-width: 50%;
}

.avatar-results {
  height: 50%;
}

.rules-header {
  font-family: PressStart;
  font-size: .75rem;
}

.game-rule {
  font-family: PressStart;
  font-size: .4rem;
}

.time-left{
  font-family: PressStart;  
  color:rgb(100%, 76.9%, 0%);
  font-size: 1rem;
}

.p-make, .p-invalid, .p-success, .p-submitted {
  font-family: PressStart;  
  font-size: .5rem;
  padding-top: 2%;
  margin-bottom: 5%;
}

.nav-item {
  font-family: PressStart;
}

}

@media only screen and (min-width: 480px) {
  .game-letters {
  position: relative;
  top: -30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 4rem;
  text-shadow: -3px 4px 1px red;
}

.avatar {
  max-height: 40px;
  max-width: 75%;
}

.avatar-results {
  height: 75%;
}

.rules-header {
  font-family: Arial, Helvetica, sans-serif;  
}

.game-rule {
  font-family: Arial, Helvetica, sans-serif;
}

.time-left{
  font-family: PressStart;  
  color:rgb(100%, 76.9%, 0%);
  font-size: 2rem;
}


.nav-item {
  font-family: PressStart;
}

.player-name {
  color: rgb(75.7%, 49.9%, 2.6%);
  font-weight: bold;
  font-size: 1.25rem;
}

.player-points {
    font-family: PressStart;

}

.player-name {
  color: rgb(75.7%, 49.9%, 2.6%);
  font-weight: bold;
  font-size: 1.25rem;
}

.player-points {
    font-family: PressStart;
    font-size: .5rem;
}


}


@media only screen and (min-width: 720px) {
.game-letters {
  position: relative;
  top: -30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: whitesmoke;
  font-size: 7rem;
  text-shadow: -3px 4px 1px red;

}

.avatar {
  max-height: 40px;
  max-width: 100%;
}

.avatar-results {
  height: 100%;
}

.game-rule {
  font-family: PressStart;
  font-size: 1rem;
}

.rules-header {
  font-family: PressStart;
  margin-bottom: 5%;  
  font-size: 1.5rem;
}

.time-left{
  font-family: PressStart;  
  color:rgb(100%, 76.9%, 0%);
  font-size: 2.25rem;
}

.p-make, .p-invalid, .p-success, .p-submitted {
  font-family: PressStart;  
  font-size: 1rem;
  padding-top: 2%;
  margin-bottom: 5%;
}

.nav-item {
  font-family: PressStart;
  position: absolute; 
  right: 3%;
  top: 20%;
}

.player-name {
  color: rgb(75.7%, 49.9%, 2.6%);
  font-weight: bold;
  font-size: 1.25rem;
}

.player-points {
    font-family: PressStart;
    font-size: 1rem;

}


}